.footer-color-link {
      color: #a9a9a9;
}

.footer {

      &__list {
            margin-right: 0;
            padding: 105px 36px 50px;
            background-color: #212121;
      }

      &__desc {
            font-size: 17px;
            line-height: 1.8;
      }

      &__contact {
            i {
                  min-width: 24px;
            }
      }

      // ? Form
      &__subscribe {
            &-input {
                  padding: 13px 16px;
                  background-color: rgba(255, 255, 255, 0.25);
                  margin-bottom: 6px;

                  input::placeholder {
                        color: #fff;
                  }

                  input::-ms-input-placeholder {
                        color: #fff;
                  }

                  input:-ms-input-placeholder {
                        color: #fff;
                  }

                  span {
                        min-width: 30px;
                        padding-left: 2px;
                        display: inline-block;
                  }

                  input {
                        flex: 1;
                        color: #fff;
                  }
            }

            &-action {
                  margin-bottom: 12px;

                  input {
                        width: 100%;
                        font-size: 13px;
                        padding: 14px 0;
                        border-radius: 0;
                        font-weight: 600;
                        letter-spacing: 0.1rem;
                        border: 1px solid transparent;
                        background-color: #fff;
                  }
            }
      }

      &__bottom-holder {
            background-color: #212121;
      }
}

// ? Nav top
.nav-top {
      z-index: 99;
      --height: 60px;
      bottom: 33px;
      right: 20px;
      width: 60px;
      height: var(--height);
      line-height: var(--height);
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 15px 1px rgb(0 0 0 / 10%);
      transition: all 0.25s ease-in-out;

      span {
            @include color('primary');
            font-weight: 600;
      }
}