.slider-tour {
      margin-bottom: 40px;

      &__item {
            background-color: #fff;
      }

      &__info {
            margin-bottom: 6rem;
            box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 5%);
      }

      &__header {
            @include title(22px);
      }

      &__body {
            @include text-clamp(2);
      }

      &__footer {

            &-price,
            &-rate,
            &-score,
            &-review {
                  font-weight: 600;
                  color: $secondary_color;
            }
      }

      &__pagination {
            bottom: 0 !important;

            .swiper-pagination-bullet {
                  width: 12px;
                  height: 12px;
                  opacity: 1 !important;
                  margin-left: 1rem !important;
                  background-color: #3fd0d480;
            }

            .swiper-pagination-bullet-active {
                  background-color: $primary_color;
            }
      }
}