.slider-tour {
      margin-bottom: 40px;

      &__item {
            background-color: #fff;
            box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.2);
      }

      &__info {}

      &__header {
            @include title(22px);
      }

      &__body {
            @include text-clamp(2);
      }

      &__footer {

            &-price,
            &-rate,
            &-score,
            &-review {
                  font-weight: 600;
            }
      }
}