.slider-tour {
      margin-bottom: 40px;

      &__item {
            background-color: #fff;

            &-link {
                  display: block;
                  overflow: hidden;
            }
      }

      &__img {
            transition: all 0.35s linear;

            &:hover {
                  transform: scale(1.02);

            }
      }

      &__calendar,
      &__man {
            i {
                  margin: auto 0 !important;
            }
      }

      &__skiing {
            a {
                  color: #fff;
                  position: relative;

                  &:after {
                        @include underline(0px);
                        background-color: #fff;
                  }

                  &:hover::after {
                        transform: scale(1);
                  }
            }
      }

      &__info {
            margin-bottom: 6rem;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 5%);

            a {
                  display: block;
                  width: fit-content;
            }
      }

      &__header {
            @include title(22px);
            transition: all 0.25s linear;

            &:hover {
                  color: $primary_color;
            }
      }

      &__body {
            @include text-clamp(2);
      }

      &__footer {

            &-price,
            &-rate,
            &-score,
            &-review {
                  font-weight: 600;
                  color: $secondary_color;
            }
      }

      &__pagination {
            bottom: 0 !important;

            .swiper-pagination-bullet {
                  width: 12px;
                  height: 12px;
                  opacity: 1 !important;
                  margin-left: 1rem !important;
                  background-color: #3fd0d480;
            }

            .swiper-pagination-bullet-active {
                  background-color: $primary_color;
            }
      }
}