@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.15;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #505050;
  font-size: 1.4rem;
  line-height: 1.8em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

button,
input {
  border: 0;
  background: transparent;
  outline: none;
}

.active-color {
  color: #3fd0d4 !important;
}

.center {
  margin: 0 auto;
}

.font-weight {
  font-weight: 500 !important;
}

.bg-primary {
  background-color: #3fd0d4 !important;
}

.heading {
  color: #212121;
  font-size: 35px;
  font-weight: 600;
}

.heading-2 {
  font-size: 18px;
  font-weight: 600;
}

.winter-heading {
  font-family: "Satisfy", cursive;
  color: #3fd0d4;
  font-size: 33px;
  line-height: 1.8em;
}

.winter-title {
  color: #212121;
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 1.8rem;
  line-height: 1.1em;
  letter-spacing: -0.05em;
}

.winter-padding {
  padding: 5rem 6rem;
  margin-bottom: 6rem;
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes scale-2 {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveY {
  0% {
    opacity: 0.5;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
header {
  background-color: #3fd0d4;
}

.header {
  top: 0;
  left: 0;
  display: flex;
  z-index: 9999;
  min-height: 69px;
  max-width: 100%;
  padding: 0px 20px;
  justify-content: space-around;
  transition: all 0.35s ease-in-out;
  background-color: #3fd0d4;
}
.header__bars, .header__user {
  flex: 0;
}
.header__bars-menu span {
  font-size: 2.24rem;
}
.header__bars-menu span i:active {
  background: #fff;
  /* The Fallback */
  background: rgba(255, 255, 255, 0.3);
}
.header__bars-list {
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0 52px;
  max-height: 0;
  display: none;
  transition: all 0.7s linear;
  will-change: all;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fff;
}
.header__bars-list::-webkit-scrollbar {
  display: none;
}
.header__bars-item {
  position: relative;
}
.header__bars-item:last-child h3 {
  border: 0;
}
.header__bars .mobile-arrow {
  position: absolute;
  font-size: 1.2rem;
  top: 0;
  right: 0;
  width: 50px;
  height: auto;
  text-align: right;
  pointer-events: none;
  padding: 12px 18px 10px 0;
}
.header__bars .mobile-arrow i {
  display: inline-block;
}
.header__bars-heading {
  position: relative;
  padding: 1rem 0;
  color: #212121;
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 1px solid #ebebeb;
}
.header__bars-heading:active {
  background: #3fd0d4;
  /* The Fallback */
  background: rgba(63, 208, 212, 0.2);
}
.header .sub-header__list {
  margin-left: 15px;
  max-height: 0;
  overflow: scroll;
  transition: all 0.7s linear;
  will-change: all;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.header .sub-header__list::-webkit-scrollbar {
  display: none;
}
.header .sub-header__item {
  position: relative;
}
.header .sub-header__link {
  color: #212121;
  font-weight: 500;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
  display: block;
}
.header__logo a {
  height: 36px;
}
.header__logo a img {
  height: inherit;
  width: auto;
  margin: 0 auto;
}

.header__user-icon {
  font-size: 24px;
  margin-right: 5px;
}

.modal__user {
  border: 0 !important;
  margin: 0 16px !important;
  background-color: #3fd0d4;
}

.modal__list-item {
  width: 50%;
}
.modal__list-item:active {
  background: #000;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.2);
}
.modal__list-btn {
  width: 100%;
  padding: 17px 0;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: #3abdc1;
}
.modal__list-btn.active-2 {
  background-color: #3fd0d4;
}
.modal__list-btn:active {
  background: #3fd0d4;
  /* The Fallback */
  background: rgba(63, 208, 212, 0.78);
}

.modal__login {
  padding: 30px 25px;
  padding-bottom: 20px;
  background-color: #3fd0d4;
}
.modal__login-header {
  padding-bottom: 24px;
}
.modal__login-heading {
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}
.modal__login-title {
  line-height: 20px;
}
.modal__login-input {
  padding: 13px 16px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 6px;
}
.modal__login-input input {
  flex: 1;
  color: #fff;
}
.modal__login-input input::placeholder {
  color: #fff;
}
.modal__login-input input::-ms-input-placeholder {
  color: #fff;
}
.modal__login-input input:-ms-input-placeholder {
  color: #fff;
}
.modal__login-input span {
  min-width: 30px;
  padding-left: 2px;
  display: inline-block;
}
.modal__login-check {
  padding: 12px 0;
}
.modal__login-check label {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 30px;
  width: fit-content;
}
.modal__login-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.modal__login-check .checkmark {
  position: absolute;
  top: 2px;
  left: 0px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #fff;
}
.modal__login-check .checkmark::after {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3fd0d4;
  transform: translate(-50%, -50%);
}
.modal__login-check input:checked ~ .checkmark:after {
  display: block;
}
.modal__login-action {
  margin-bottom: 12px;
}
.modal__login-action input {
  width: 100%;
  font-size: 13px;
  padding: 14px 0;
  border-radius: 0;
  font-weight: 600;
  margin-top: 19px;
  letter-spacing: 0.1rem;
  border: 1px solid transparent;
  background-color: #fff;
}
.modal__login-action input:active {
  background: #3fd0d4;
  /* The Fallback */
  background: rgba(63, 208, 212, 0.5);
}
.modal__login-action input:hover {
  background-color: #3abdc1;
}
.modal__login-forget {
  color: #26878a;
  width: fit-content;
  transition: all 0.7s ease-in;
}
.modal__login-forget:active {
  background: #3fd0d4;
  /* The Fallback */
  background: rgba(63, 208, 212, 0.9);
}
.modal__login-forget:hover {
  color: #212121;
}

.modal__social-heading {
  margin-top: 20px;
}
.modal__social-item {
  width: 50%;
  line-height: 50px;
}
.modal__social-item:first-child {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}
.modal__social-item:first-child:active {
  background: #3b5998;
  /* The Fallback */
  background: rgba(59, 89, 152, 0.9);
}
.modal__social-item:last-child {
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
}
.modal__social-item:last-child:active {
  background: #dd4b39;
  /* The Fallback */
  background: rgba(221, 75, 57, 0.9);
}

.header__action {
  height: 80px;
}
.header__action-item {
  margin: 0 12px;
  color: #212121;
  height: 80px;
  line-height: 80px;
}
.header__action-item span {
  cursor: pointer !important;
}
.header__action-item > span:hover {
  color: #3fd0d4;
  transition: all 0.1s linear;
}
.header__action-item span svg {
  width: 25px;
  height: 21px;
}
.header__action-cart .cart__product-list {
  right: 0;
  top: 100%;
  z-index: 999;
  padding: 24px;
  line-height: initial;
  min-width: 280px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
}
.header__action-cart .cart__product-list p {
  padding-left: 12px;
}

.slide-menu {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  padding: 38px;
  line-height: initial;
  max-width: 460px;
  background-color: #fff;
  transition: all 0.25s linear;
  transform: translateX(100%);
}
.slide-menu.active {
  transform: translateX(0%);
}
.slide-menu__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  position: fixed;
  background-color: transparent;
}
.slide-menu__close {
  top: 20px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}
.slide-menu__close:hover {
  color: #3fd0d4;
}
.slide-menu__close svg {
  width: 22px;
  height: auto;
}
.slide-menu__logo {
  padding: 36px 0;
}
.slide-menu__logo-item {
  padding: 12px 0;
}
.slide-menu__logo-item img {
  margin: 0 auto;
}
.slide-menu__map {
  margin-bottom: 36px;
}
.slide-menu__map-link {
  display: block;
  margin-bottom: 36px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
}
.slide-menu__map-desc {
  line-height: 1.8;
  text-align: center;
  color: #505050;
}
.slide-menu__search {
  text-align: center;
  margin-bottom: 36px;
}
.slide-menu__search-title {
  color: #212121;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}
.slide-menu__search-form {
  display: flex;
  justify-content: center;
}
.slide-menu__search-input {
  line-height: 1.8;
  background: #f8f8f8;
  padding: 12px 0 12px 18px;
}
.slide-menu__search-btn {
  color: #fff;
  padding: 0 18px;
  background: #3fd0d4;
  transition: all 0.25s linear;
}
.slide-menu__search-btn:hover {
  background-color: #3abdc1;
}
.slide-menu__social {
  text-align: center;
  margin-bottom: 36px;
}
.slide-menu__social-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #212121;
}
.slide-menu__social-icon-wrapper {
  display: flex;
  justify-content: center;
}
.slide-menu__social-icon {
  margin: 0px 6px;
  border-radius: 50%;
  transition: all 0.25s linear;
  background-color: #3fd0d4;
}
.slide-menu__social-icon:hover {
  background-color: #3abdc1;
}
.slide-menu__social-icon-item {
  color: #fff;
  display: block;
  font-size: 18px;
  padding: 10px 16px;
}

.search-modal {
  position: relative;
  z-index: 10000;
}
.search-modal.active {
  display: block !important;
  animation: fade 0.25s linear;
  will-change: fade 0.25s linear;
  transition: all 0.25s linear;
}
.search-modal__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #3fd0d4;
  /* The Fallback */
  background: rgba(63, 208, 212, 0.7);
}
.search-modal__close {
  top: 28px;
  right: 28px;
  color: #fff;
  z-index: 9999;
  cursor: pointer;
}
.search-modal__close svg {
  width: 30px;
  height: auto;
}
.search-modal__form {
  top: 50%;
  left: 50%;
  display: flex;
  width: 75%;
  z-index: 9999;
  line-height: initial;
  max-width: 950px;
  transform: translate(-50%, -50%);
}
.search-modal__input {
  flex: 1;
  padding: 30px;
  background-color: #fff;
}
.search-modal__btn {
  flex: 0.3;
  font-weight: 600;
  background-color: #3fd0d4;
}
.search-modal__btn:hover {
  transition: all 0.2s linear;
  background-color: #23a9af;
}

.header-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin: 0 auto;
  align-items: center;
  transition: all 0.25s linear;
  transform: translateY(-100%);
  box-shadow: 0px 0 1px 0px rgba(0, 0, 0, 0.2);
}
.header-scroll .header.pc {
  padding: 0px 18px;
}

.banner-slider {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
}
.banner-slider__img {
  height: 455px;
  object-fit: cover;
  animation: scale 5.5s linear;
  transition: all 0.5s linear;
}
.banner-slider__caption {
  top: 50%;
  right: 12%;
  left: 12%;
  bottom: unset;
  transform: translateY(-50%);
}
.banner-slider__heading {
  font-size: 35px;
  font-family: "Satisfy", cursive;
  animation: moveY 0.45s linear;
  transition: all 0.45s linear;
}
.banner-slider__title {
  font-size: 34px;
  font-weight: 600;
  padding: 12px 0;
  animation: moveY 0.45s linear;
  animation-delay: 0.1s;
  transition: all 0.45s linear;
}
.banner-slider__desc {
  line-height: 1.4;
  font-size: 15px;
  padding-top: 15px;
  animation: moveY 0.45s linear;
  animation-delay: 0.2s;
  transition: all 0.45s linear;
}

.slider-tour {
  margin-bottom: 40px;
}
.slider-tour__item {
  background-color: #fff;
}
.slider-tour__item-link {
  display: block;
  overflow: hidden;
}
.slider-tour__img {
  transition: all 0.35s linear;
}
.slider-tour__img:hover {
  transform: scale(1.02);
}
.slider-tour__calendar i, .slider-tour__man i {
  margin: auto 0 !important;
}
.slider-tour__skiing a {
  color: #fff;
  position: relative;
}
.slider-tour__skiing a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #3fd0d4;
  transform-origin: bottom left;
  transition: transform 0.25s linear;
  background-color: #fff;
}
.slider-tour__skiing a:hover::after {
  transform: scale(1);
}
.slider-tour__info {
  margin-bottom: 6rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.05);
}
.slider-tour__info a {
  display: block;
  width: fit-content;
}
.slider-tour__header {
  color: #212121;
  font-weight: 600;
  font-size: 22px;
  transition: all 0.25s linear;
}
.slider-tour__header:hover {
  color: #3fd0d4;
}
.slider-tour__body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.slider-tour__footer-price, .slider-tour__footer-rate, .slider-tour__footer-score, .slider-tour__footer-review {
  font-weight: 600;
  color: #212121;
}
.slider-tour__pagination {
  bottom: 0 !important;
}
.slider-tour__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1 !important;
  margin-left: 1rem !important;
  background-color: #3fd0d480;
}
.slider-tour__pagination .swiper-pagination-bullet-active {
  background-color: #3fd0d4;
}

.winter-sport__title {
  padding-bottom: 4rem;
}
.winter-sport__video {
  cursor: pointer;
  margin-bottom: 4rem;
}
.winter-sport__video img {
  transition: all 0.25s linear;
}
.winter-sport__video:hover .winter-sport__img img {
  transform: scale(1.05);
}
.winter-sport__video-link {
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.winter-sport__desc {
  line-height: 1.8em;
  padding-bottom: 4rem;
}
.winter-sport__view-link {
  outline: 0;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 0 !important;
}
.winter-sport__view-link:hover {
  background-color: #23a9af !important;
}

.top-review {
  height: auto;
  padding-top: 25%;
  padding-bottom: 4%;
  background-size: cover;
  background-attachment: scroll;
  min-height: 200px !important;
  background-position: center top !important;
}
.top-review__info {
  margin: 0 57px;
}
.top-review__heading {
  padding-bottom: 12px;
}
.top-review__desc {
  font-size: 17px;
  line-height: 1.7em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 12px;
}
.top-review__slider {
  height: 500px;
}
.top-review__slider .swiper-wrapper {
  height: 70%;
}
.top-review__item {
  margin: 25px 0;
  border-radius: 8px;
}
.top-review__pagination {
  margin-top: 48px;
  bottom: 65px !important;
}
.top-review__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1 !important;
  margin-left: 1rem !important;
  background-color: #3fd0d480;
}
.top-review__pagination .swiper-pagination-bullet:hover {
  background-color: #3fd0d4;
}
.top-review__pagination .swiper-pagination-bullet-active {
  background-color: #3fd0d4;
}

.top-review__user {
  margin: 0 15px;
  padding: 51px 0 33px 0;
}
.top-review__user-avatar img {
  margin: 0 auto;
}
.top-review__user-city {
  margin-bottom: 8px;
}
.top-review__user-link {
  color: #212121;
  font-weight: 600;
  font-size: 22px;
  transition: all 0.2s linear;
}
.top-review__user-link:hover {
  color: #3fd0d4;
}
.top-review__user-rate {
  display: block;
  margin-bottom: 12px;
}
.top-review__user-comment {
  line-height: 1.7em;
  margin-bottom: 12px;
}
.top-review__user-name {
  font-weight: 600;
}

.winter-holiday__info {
  padding: 7rem 0 3rem 0;
}
.winter-holiday__desc {
  font-size: 17px;
  line-height: 28px;
}
.winter-holiday__list {
  padding: 1rem;
}
.winter-holiday__item {
  padding: 18px 0;
  margin-bottom: 12px;
}
.winter-holiday__item-img {
  display: block;
  margin-bottom: 12px;
}
.winter-holiday__item-img img {
  padding: 8px 0;
}
.winter-holiday__item-img:hover {
  transition: 0.3s;
  transform: translateY(-5px);
}
.winter-holiday__item-heading {
  padding: 12px 0;
  color: #212121;
  font-weight: 600;
  font-size: 18px;
}

.member-item {
  overflow: hidden;
}
.member-item:hover .member-item__info {
  transform: translateY(0%);
  display: block !important;
}
.member-item__info {
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  padding: 22px 25px 26px;
}
.member-item__name {
  color: #212121;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 12px;
}
.member-item__desc {
  padding-bottom: 12px;
}
.member-item__social-icon {
  padding-right: 24px;
}
.member-item__social-icon a {
  padding: 2px;
}
.member-item__social-icon a i {
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.member-item__social-icon a i:hover {
  color: #23a9af !important;
}

.our-team__count {
  background-color: #3abdc1;
  padding: 36px 24px;
}
.our-team__count-list {
  padding: 24px;
}
.our-team__count-item {
  padding: 24px 0;
}
.our-team__count-item span {
  font-size: 65px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.05em;
}
.our-team__count-item p {
  font-size: 18px;
  font-weight: 600;
  padding-top: 36px;
}

.winter-resort__item {
  margin: 50px 0;
}
.winter-resort__image {
  overflow: hidden;
  border-radius: 50%;
}
.winter-resort__image img {
  transition: transform 0.55s ease-out;
}
.winter-resort__image:hover img {
  transform: scale(1.1);
  transition: transform 0.55s linear;
}
.winter-resort__link {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.winter-resort__text {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.winter-resort__text h5 {
  font-size: 38px;
  font-weight: 100;
  font-family: "Satisfy", cursive;
}
.winter-resort__start {
  --height: 47px;
  width: 47px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 50%;
  top: 6%;
  right: 48px;
}
.winter-resort__start i {
  font-size: 12px;
}

.footer-color-link {
  color: #a9a9a9;
}

.footer__list {
  margin-right: 0;
  padding: 105px 36px 50px;
  background-color: #212121;
}
.footer__desc {
  font-size: 17px;
  line-height: 1.8;
}
.footer__contact {
  transition: all 0.25s linear;
}
.footer__contact:hover {
  color: #3fd0d4 !important;
}
.footer__contact i {
  min-width: 24px;
}
.footer__item-link {
  transition: all 0.25s linear;
}
.footer__item-link:hover {
  color: #3fd0d4 !important;
}
.footer__subscribe-input {
  padding: 13px 16px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 6px;
}
.footer__subscribe-input input::placeholder {
  color: #fff;
}
.footer__subscribe-input input::-ms-input-placeholder {
  color: #fff;
}
.footer__subscribe-input input:-ms-input-placeholder {
  color: #fff;
}
.footer__subscribe-input span {
  min-width: 30px;
  padding-left: 2px;
  display: inline-block;
}
.footer__subscribe-input input {
  flex: 1;
  color: #fff;
}
.footer__subscribe-action {
  margin-bottom: 12px;
}
.footer__subscribe-action input {
  width: 100%;
  font-size: 13px;
  padding: 14px 0;
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.25s linear;
  border: 1px solid transparent;
}
.footer__subscribe-action input:hover {
  color: #212121 !important;
  background-color: #fff !important;
}
.footer__bottom-holder {
  background-color: #212121;
}
.footer__bottom-holder a {
  transition: all 0.25s linear;
}
.footer__bottom-holder a:hover {
  color: #3fd0d4 !important;
}

.nav-top {
  --height: 60px;
  z-index: 99;
  right: 20px;
  width: 60px;
  bottom: 33px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  height: var(--height);
  line-height: var(--height);
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
}
.nav-top:hover {
  background-color: #3fd0d4 !important;
}
.nav-top:hover span {
  color: #fff !important;
}
.nav-top span {
  color: #3fd0d4;
  font-weight: 600;
}

@media (min-width: 768px) {
  .winter-title {
    font-size: 58px;
  }

  .header__bars-list {
    padding: 0 111px;
  }

  .modal__user {
    margin: 0 70px !important;
  }
  .modal__login {
    padding: 30px 35px;
  }

  .banner-slider__img {
    height: 630px;
  }
  .banner-slider__caption {
    right: 8%;
    left: 8%;
  }
  .banner-slider__heading {
    font-size: 48px;
    line-height: 80px;
  }
  .banner-slider__title {
    font-size: 82px;
    line-height: 60px;
    letter-spacing: -0.4rem;
  }
  .banner-slider__desc {
    font-size: 17px;
    max-width: 580px;
    margin: 0 auto;
  }

  .winter-sport__modal-dialog {
    max-width: 700px;
  }
  .winter-sport__modal-content {
    padding-top: 56.25%;
  }
  .winter-sport__modal-content iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
  }

  .top-review {
    padding: 17% 0% 4% 0;
  }
  .top-review__heading {
    padding-bottom: 36px;
  }
  .top-review__desc {
    padding: 0px 24px;
  }

  .winter-holiday__desc {
    padding: 0px 24px;
  }

  .winter-resort__desc {
    padding: 0 12px;
  }
  .winter-resort__item {
    padding: 0 24px;
  }

  .footer__list {
    padding: 105px 80px 50px;
  }
}
@media (min-width: 1024px) {
  .header__bars-list {
    padding: 0 153px;
  }

  .winter-title {
    font-size: 65px;
  }

  .winter-sport__modal-dialog {
    max-width: 960px;
  }

  .top-review__desc {
    padding: 0px 62px;
  }
}
@media (min-width: 1200px) {
  header {
    background-color: #fff;
    margin-bottom: 0 !important;
  }

  .header {
    padding: 0px 10px;
    background-color: #fff;
    justify-content: space-between;
  }
  .header__logo a img {
    height: 48px;
  }
  .header__menu {
    position: relative;
    z-index: 999;
  }
  .header__menu-item {
    padding-right: 44px;
    padding-left: 24px;
    cursor: pointer;
  }
  .header__menu-item:nth-child(5) .sub-header__item-list, .header__menu-item:nth-child(6) .sub-header__item-list {
    left: -100%;
  }
  .header__menu-item:last-child:hover .sub-header__list-element {
    left: 0;
    right: 0;
    margin-left: 0;
    padding-top: 0;
    display: flex !important;
  }
  .header__menu-item:hover > .header__menu-heading {
    color: #3fd0d4;
  }
  .header__menu-item:hover > .header__menu-heading::after {
    transform: scaleX(1);
  }
  .header__menu-heading {
    font-size: 15px;
    font-weight: 600;
    line-height: 80px;
    color: #212121;
    position: relative;
    transition: all 0.05s ease-in;
  }
  .header__menu-heading:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 28px;
    left: 0;
    background-color: #3fd0d4;
    transform-origin: bottom left;
    transition: transform 0.25s linear;
  }
  .header__menu-heading:hover {
    color: #3fd0d4;
  }
  .header .sub-header__list {
    visibility: hidden;
    position: absolute;
    min-width: 260px;
    margin-left: -36px;
    padding: 24px 0px;
    background-color: #fff;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.05);
  }
  .header .sub-header__item {
    display: flex;
    align-items: center;
    padding: 0 36px;
  }
  .header .sub-header__item:hover .sub-header__item-list {
    display: block;
    animation: fade 0.25s linear;
  }
  .header .sub-header__item:hover .sub-header__list {
    overflow: unset;
  }
  .header .sub-header__item-list-element {
    margin-left: -36px;
  }
  .header .sub-header__item-list-element .sub-header__item {
    padding-right: 0;
  }
  .header .sub-header__link {
    padding: 5px 0;
    border: 0;
    position: relative;
  }
  .header .sub-header__link:hover {
    color: #3fd0d4;
  }
  .header .sub-header__link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 6px;
    left: 0;
    background-color: #3fd0d4;
    transform-origin: bottom left;
    transition: transform 0.25s linear;
  }
  .header .sub-header__link:hover:after {
    transform: scale(1);
  }
  .header .sub-header__item-list {
    top: -24px;
    left: 100%;
    display: none;
    overflow: unset;
    min-width: 260px;
    max-height: unset;
    position: absolute;
    background-color: #fff;
    padding: 24px 0px;
  }
  .header .sub-header__menu-heading {
    line-height: 2.4;
    margin-right: auto;
  }
  .header .sub-header__menu-heading:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 6px;
    left: 0;
    background-color: #3fd0d4;
    transform-origin: bottom left;
    transition: transform 0.25s linear;
  }
  .header .sub-header__menu-heading:hover:after {
    transform: scale(1);
  }

  .winter-padding {
    padding: 5rem;
  }

  .winter-info {
    width: 50%;
    margin: 0 auto;
  }

  .winter-title {
    padding-bottom: 12px;
  }

  .winter-desc {
    padding: 0px 24px;
  }

  .banner-slider__img {
    height: auto;
  }
  .banner-slider__title {
    font-size: 118px;
  }
  .banner-slider__desc {
    font-size: 18px;
    max-width: unset;
    margin: 18px 130px;
  }
  .banner-slider__control {
    opacity: 1;
    margin: auto;
    height: fit-content;
  }
  .banner-slider__control-prev {
    left: -52px;
  }
  .banner-slider__control-next {
    right: -52px;
  }
  .banner-slider__control span {
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 24px;
    color: #3fd0d4;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.25s linear;
    background-color: #fff;
  }
  .banner-slider__control span:hover {
    color: #fff;
    background-color: #3fd0d4;
  }

  .slider-tour__desc {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .winter-sport__wrapper {
    padding: 0px 18rem;
  }
  .winter-sport__modal {
    padding: 36px 0;
  }
  .winter-sport__video {
    margin-bottom: 0;
  }

  .top-review {
    padding-top: 108px;
    padding-bottom: 107px;
    background-attachment: fixed;
  }
  .top-review__slider {
    height: auto;
    padding-bottom: 36px;
  }
  .top-review__user {
    margin: 0;
    display: flex;
    padding: 36px 24px;
  }
  .top-review__user-avatar {
    min-width: 35%;
  }
  .top-review__user-info {
    margin-left: 16px;
    text-align: left;
  }
  .top-review__user-city {
    letter-spacing: -1px;
  }
  .top-review__pagination {
    bottom: 2px !important;
  }

  .footer__list {
    padding: 105px 45px 50px;
  }
}
@media (min-width: 1400px) {
  .winter-holiday__item {
    padding: 18px 22px;
  }

  .winter-resort__text h5 {
    font-size: 48px;
    font-weight: 400;
  }

  .winter-sport__wrapper {
    padding: 0px 35rem;
  }

  .footer__list {
    padding: 105px 70px 50px;
  }
}

/*# sourceMappingURL=style.css.map */
