@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.15;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #505050;
  font-size: 1.4rem;
  line-height: 1.8em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

button,
input {
  border: 0;
  background: transparent;
  outline: none;
}

.active-color {
  color: #3fd0d4 !important;
}

.center {
  margin: 0 auto;
}

.font-weight {
  font-weight: 500 !important;
}

.bg-primary {
  background-color: #3fd0d4 !important;
}

.heading {
  color: #212121;
  font-size: 35px;
  font-weight: 600;
}

.heading-2 {
  font-size: 18px;
  font-weight: 600;
}

.winter-heading {
  font-family: "Satisfy", cursive;
  color: #3fd0d4;
  font-size: 33px;
  line-height: 1.8em;
}

.winter-title {
  color: #212121;
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 1.8rem;
  line-height: 1.1em;
  letter-spacing: -0.05em;
}

.winter-padding {
  padding: 5rem 6rem;
  margin-bottom: 6rem;
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes moveY {
  0% {
    opacity: 0.5;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
header {
  background-color: #3fd0d4;
}

.header {
  top: 0;
  left: 0;
  display: flex;
  z-index: 9999;
  min-height: 69px;
  max-width: 100%;
  padding: 0px 20px;
  justify-content: space-around;
  transition: all 0.35s ease-in-out;
  background-color: #3fd0d4;
}
.header__bars, .header__user {
  flex: 0;
}
.header__bars-menu span {
  font-size: 2.24rem;
}
.header__bars-menu span i:active {
  background: #fff;
  /* The Fallback */
  background: rgba(255, 255, 255, 0.3);
}
.header__bars-list {
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0 60px;
  max-height: 0;
  display: none;
  transition: all 0.7s linear;
  will-change: all;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fff;
}
.header__bars-list::-webkit-scrollbar {
  display: none;
}
.header__bars-item {
  position: relative;
}
.header__bars-item:last-child h3 {
  border: 0;
}
.header__bars .mobile-arrow {
  position: absolute;
  font-size: 1.2rem;
  top: 0;
  right: 0;
  width: 50px;
  height: auto;
  text-align: right;
  pointer-events: none;
  padding: 12px 12px 10px 0;
}
.header__bars .mobile-arrow i {
  display: inline-block;
}
.header__bars-heading {
  position: relative;
  padding: 1rem 0;
  color: #212121;
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 1px solid #ebebeb;
}
.header__bars-heading:active {
  background: #3fd0d4;
  /* The Fallback */
  background: rgba(63, 208, 212, 0.2);
}
.header .sub-header__list {
  margin-left: 15px;
  max-height: 0;
  overflow: scroll;
  transition: all 0.7s linear;
  will-change: all;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.header .sub-header__list::-webkit-scrollbar {
  display: none;
}
.header .sub-header__item {
  position: relative;
}
.header .sub-header__link {
  color: #212121;
  font-weight: 500;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
  display: block;
}
.header__logo a {
  height: 36px;
}
.header__logo a img {
  height: inherit;
  width: auto;
  margin: 0 auto;
}

.header__user-icon {
  font-size: 24px;
  margin-right: 5px;
}

.modal__user {
  border: 0 !important;
  margin: 0 16px !important;
}

.modal__list-item {
  width: 50%;
}
.modal__list-item:active {
  background: #000;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.2);
}
.modal__list-btn {
  width: 100%;
  padding: 17px 0;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: #3abdc1;
}
.modal__list-btn.active-2 {
  background-color: #3fd0d4;
}
.modal__list-btn:active {
  background: #3fd0d4;
  /* The Fallback */
  background: rgba(63, 208, 212, 0.78);
}

.modal__login {
  padding: 30px 25px;
  padding-bottom: 20px;
  background-color: #3fd0d4;
}
.modal__login-input {
  padding: 13px 16px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 6px;
}
.modal__login-input input {
  flex: 1;
  color: #fff;
}
.modal__login-input input::placeholder {
  color: #fff;
}
.modal__login-input input::-ms-input-placeholder {
  color: #fff;
}
.modal__login-input input:-ms-input-placeholder {
  color: #fff;
}
.modal__login-input span {
  min-width: 30px;
  padding-left: 2px;
  display: inline-block;
}
.modal__login-check {
  padding: 12px 0;
}
.modal__login-check label {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 30px;
  width: fit-content;
}
.modal__login-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.modal__login-check .checkmark {
  position: absolute;
  top: 2px;
  left: 0px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #fff;
}
.modal__login-check .checkmark::after {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3fd0d4;
  transform: translate(-50%, -50%);
}
.modal__login-check input:checked ~ .checkmark:after {
  display: block;
}
.modal__login-action {
  margin-bottom: 12px;
}
.modal__login-action input {
  width: 100%;
  font-size: 13px;
  padding: 14px 0;
  border-radius: 0;
  font-weight: 600;
  margin-top: 19px;
  letter-spacing: 0.1rem;
  border: 1px solid transparent;
  background-color: #fff;
}
.modal__login-action input:active {
  background: #3fd0d4;
  /* The Fallback */
  background: rgba(63, 208, 212, 0.5);
}
.modal__login-action input:hover {
  background-color: #3abdc1;
}
.modal__login-forget {
  color: #26878a;
  width: fit-content;
  transition: all 0.7s ease-in;
}
.modal__login-forget:active {
  background: #3fd0d4;
  /* The Fallback */
  background: rgba(63, 208, 212, 0.9);
}
.modal__login-forget:hover {
  color: #212121;
}

.modal__social-heading {
  margin-top: 20px;
}
.modal__social-item {
  width: 50%;
  line-height: 50px;
}
.modal__social-item:first-child {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}
.modal__social-item:first-child:active {
  background: #3b5998;
  /* The Fallback */
  background: rgba(59, 89, 152, 0.9);
}
.modal__social-item:last-child {
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
}
.modal__social-item:last-child:active {
  background: #dd4b39;
  /* The Fallback */
  background: rgba(221, 75, 57, 0.9);
}

.banner-slider {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
}
.banner-slider__img {
  height: 455px;
  object-fit: cover;
  animation: scale 5.5s linear;
  transition: all 0.5s linear;
}
.banner-slider__caption {
  top: 50%;
  right: 12%;
  left: 12%;
  bottom: unset;
  transform: translateY(-50%);
}
.banner-slider__heading {
  font-size: 35px;
  font-family: "Satisfy", cursive;
  animation: moveY 0.45s linear;
  transition: all 0.45s linear;
}
.banner-slider__title {
  font-size: 34px;
  font-weight: 600;
  padding: 12px 0;
  animation: moveY 0.45s linear;
  animation-delay: 0.1s;
  transition: all 0.45s linear;
}
.banner-slider__desc {
  line-height: 1.4;
  font-size: 15px;
  padding-top: 15px;
  animation: moveY 0.45s linear;
  animation-delay: 0.2s;
  transition: all 0.45s linear;
}

.slider-tour {
  margin-bottom: 40px;
}
.slider-tour__item {
  background-color: #fff;
}
.slider-tour__info {
  margin-bottom: 6rem;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.05);
}
.slider-tour__header {
  color: #212121;
  font-weight: 600;
  font-size: 22px;
}
.slider-tour__body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.slider-tour__footer-price, .slider-tour__footer-rate, .slider-tour__footer-score, .slider-tour__footer-review {
  font-weight: 600;
  color: #212121;
}
.slider-tour__pagination {
  bottom: 0 !important;
}
.slider-tour__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1 !important;
  margin-left: 1rem !important;
  background-color: #3fd0d480;
}
.slider-tour__pagination .swiper-pagination-bullet-active {
  background-color: #3fd0d4;
}

.winter-sport__title {
  padding-bottom: 4rem;
}
.winter-sport__video {
  margin-bottom: 4rem;
}
.winter-sport__video-link {
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.winter-sport__desc {
  line-height: 1.8em;
  padding-bottom: 4rem;
}
.winter-sport__view-link {
  outline: 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 14px 42px;
  border-radius: 0 !important;
}

.top-review {
  height: auto;
  padding: 25% 0;
  background-size: cover;
  background-attachment: scroll;
  min-height: 200px !important;
  background-position: center top !important;
}
.top-review__info {
  margin: 0 57px;
}
.top-review__heading {
  padding-bottom: 12px;
}
.top-review__desc {
  font-size: 17px;
  line-height: 1.7em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 12px;
}
.top-review__item {
  margin: 25px 0;
  border-radius: 8px;
}
.top-review__slider {
  overflow: unset !important;
}
.top-review__pagination {
  margin-top: 48px;
  bottom: -40px !important;
}
.top-review__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1 !important;
  margin-left: 1rem !important;
  background-color: #3fd0d480;
}
.top-review__pagination .swiper-pagination-bullet-active {
  background-color: #3fd0d4;
}

.top-review__user {
  margin: 0 15px;
  padding: 51px 0 33px 0;
}
.top-review__user-avatar img {
  margin: 0 auto;
}
.top-review__user-city {
  margin-bottom: 8px;
}
.top-review__user-link {
  color: #212121;
  font-weight: 600;
  font-size: 22px;
}
.top-review__user-rate {
  display: block;
  margin-bottom: 12px;
}
.top-review__user-comment {
  line-height: 1.7em;
  margin-bottom: 12px;
}
.top-review__user-name {
  font-weight: 600;
}

.winter-holiday__info {
  padding: 7rem 0 3rem 0;
}
.winter-holiday__desc {
  font-size: 17px;
  line-height: 28px;
}
.winter-holiday__list {
  padding: 1rem;
}
.winter-holiday__item {
  padding: 18px 0;
  margin-bottom: 12px;
}
.winter-holiday__item-img {
  display: block;
  margin-bottom: 12px;
}
.winter-holiday__item-img img {
  padding: 8px 0;
}
.winter-holiday__item-img:hover {
  transition: 0.3s;
  transform: translateY(-5px);
}
.winter-holiday__item-heading {
  padding: 12px 0;
  color: #212121;
  font-weight: 600;
  font-size: 18px;
}

.member-item {
  overflow: hidden;
}
.member-item:hover .member-item__info {
  transform: translateY(0%);
  display: block !important;
}
.member-item__info {
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  padding: 22px 25px 26px;
}
.member-item__name {
  color: #212121;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 12px;
}
.member-item__desc {
  padding-bottom: 12px;
}
.member-item__social-icon {
  padding-right: 24px;
}
.member-item__social-icon a {
  padding: 2px;
}
.member-item__social-icon a i {
  font-size: 16px;
}

.our-team__count {
  background-color: #3abdc1;
  padding: 36px 24px;
}
.our-team__count-list {
  padding: 24px;
}
.our-team__count-item {
  padding: 24px 0;
}
.our-team__count-item span {
  font-size: 65px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.05em;
}
.our-team__count-item p {
  font-size: 18px;
  font-weight: 600;
  padding-top: 36px;
}

.winter-resort__item {
  margin: 50px 0;
}
.winter-resort__link {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.winter-resort__text {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.winter-resort__text h5 {
  font-size: 38px;
  font-weight: 100;
  font-family: "Satisfy", cursive;
}
.winter-resort__start {
  --height: 47px;
  width: 47px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 50%;
  top: 14%;
  right: 0;
}
.winter-resort__start i {
  font-size: 12px;
}

.footer-color-link {
  color: #a9a9a9;
}

.footer {
  padding: 12px 0px;
  background-color: #212121;
}
.footer__list {
  margin: 24px 36px;
}
.footer__desc {
  font-size: 17px;
  line-height: 1.8;
}
.footer__contact i {
  min-width: 24px;
}
.footer__subscribe-input {
  padding: 13px 16px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 6px;
}
.footer__subscribe-input input::placeholder {
  color: #fff;
}
.footer__subscribe-input input::-ms-input-placeholder {
  color: #fff;
}
.footer__subscribe-input input:-ms-input-placeholder {
  color: #fff;
}
.footer__subscribe-input span {
  min-width: 30px;
  padding-left: 2px;
  display: inline-block;
}
.footer__subscribe-input input {
  flex: 1;
  color: #fff;
}
.footer__subscribe-action {
  margin-bottom: 12px;
}
.footer__subscribe-action input {
  width: 100%;
  font-size: 13px;
  padding: 14px 0;
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border: 1px solid transparent;
  background-color: #fff;
}
.nav-top {
  z-index: 99;
  --height: 60px;
  bottom: 33px;
  right: 20px;
  width: 60px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
}
.nav-top span {
  color: #3fd0d4;
  font-weight: 600;
}

@media (min-width: 768px) {
  .banner-slider__img {
    height: 630px;
  }
  .banner-slider__caption {
    right: 8%;
    left: 8%;
  }
  .banner-slider__heading {
    font-size: 48px;
    line-height: 80px;
  }
  .banner-slider__title {
    font-size: 82px;
    line-height: 60px;
    letter-spacing: -0.4rem;
  }
  .banner-slider__desc {
    font-size: 17px;
    max-width: 580px;
    margin: 0 auto;
  }

  .winter-sport__title {
    font-size: 58px;
  }
  .winter-sport__modal-dialog {
    max-width: 700px;
  }
  .winter-sport__modal-content {
    padding-top: 56.25%;
  }
  .winter-sport__modal-content iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
  }

  .winter-resort__title {
    font-size: 58px;
  }
  .winter-resort__desc {
    padding: 0 12px;
  }
  .winter-resort__item {
    padding: 0 24px;
  }
}

/*# sourceMappingURL=style.css.map */
