header {
      background-color: $primary_color;
}

.header {
      min-height: 69px;

      &__bars,
      &__user {
            flex: 0;
      }

      &__logo {
            a {
                  height: 36px;

                  img {
                        height: inherit;
                        width: auto;
                        margin: 0 auto;
                  }
            }
      }

      &__user {
            svg {
                  height: 24px !important;
                  width: 24px !important;
            }
      }
}