@use "sass:map";

header {
      position: relative;
      background-color: $primary_color;
}

.dropdown-toggle::after {
      content: none;
}

.header {
      min-height: 69px;
      margin-left: 26px;

      &__bars,
      &__user {
            flex: 0;
      }

      &__user {
            svg {
                  height: 24px !important;
                  width: 24px !important;
            }
      }

      // ? ----------Menu Bars Header----------
      &__bars {
            &-menu {
                  span {
                        font-size: 2.24rem;
                  }
            }

            &-list {
                  content: '';
                  position: absolute;
                  top: 100%;
                  left: 0;
                  right: 0;
                  padding: 0 54px;
                  @include border(border);
            }

            &-heading {
                  @include heading;
                  @include title (1.5rem);
            }

            .mobile-arrow {
                  font-size: 1.2rem;
                  padding-right: 10px;
            }

            &-item {
                  display: flex;
                  position: relative;
                  padding: 1.2rem 0;
                  @include border(bottom);
                  justify-content: space-between;
                  align-items: baseline;

                  &:last-child {
                        border: 0;
                  }
            }
      }

      // ? Sub header
      .sub-header {
            &__list {
                  content: '';
                  position: absolute;
                  display: none;
            }
      }


      // todo-------------------- Logo------------------
      &__logo {
            a {
                  height: 36px;

                  img {
                        height: inherit;
                        width: auto;
                        margin: 0 auto;
                  }
            }
      }

      &__user {
            margin-right: 55px;
      }

}