@use "sass:map";

header {
      background-color: $primary_color;
}

.header {
      min-height: 69px;
      display: flex;
      justify-content: space-around;
      padding: 0px 20px;
      z-index: 9999;
      top: 0;
      left: 0;
      transition: all 0.35s ease-in-out;
      background-color: #3fd0d4;

      &__bars,
      &__user {
            flex: 0;
      }

      // ? ----------Menu Bars Header----------
      &__bars {
            &-menu {
                  span {
                        font-size: 2.24rem;

                        i:active {
                              @include background-opacity(#fff, 0.3);
                        }
                  }
            }

            &-list {
                  content: "";
                  top: 100%;
                  left: 0;
                  right: 0;
                  z-index: 99;
                  padding: 0 60px;
                  max-height: 0;
                  display: none;
                  transition: all 0.7s linear;
                  will-change: all;
                  -ms-overflow-style: none;
                  scrollbar-width: none;
                  background-color: #fff;

                  &::-webkit-scrollbar {
                        display: none;
                  }
            }

            &-item {
                  position: relative;

                  &:last-child {
                        h3 {
                              border: 0;
                        }
                  }
            }

            .mobile-arrow {
                  position: absolute;
                  font-size: 1.2rem;
                  top: 0;
                  right: 0;
                  width: 50px;
                  height: auto;
                  text-align: right;
                  pointer-events: none;
                  padding: 12px 12px 10px 0;

                  i {
                        display: inline-block;
                  }
            }

            &-heading {
                  position: relative;
                  padding: 1rem 0;
                  @include title(1.5rem);
                  @include border(bottom);

                  &:active {
                        @include background-opacity($primary_color, 0.2);
                  }
            }
      }

      // ? Sub header
      .sub-header {
            &__list {
                  margin-left: 15px;
                  max-height: 0;
                  overflow: scroll;
                  transition: all 0.7s linear;
                  will-change: all;
                  -ms-overflow-style: none;
                  scrollbar-width: none;

                  &::-webkit-scrollbar {
                        display: none;
                  }
            }

            &__item {
                  position: relative;
            }

            &__link {
                  @include heading;
                  font-weight: 500;
                  @include border(bottom);
                  padding: 10px 0;
                  display: block;
            }
      }

      // todo-------------------- Logo------------------
      &__logo {
            a {
                  height: 36px;

                  img {
                        height: inherit;
                        width: auto;
                        margin: 0 auto;
                  }
            }
      }
}