// todo Tablet & Tablet Pro
@media (min-width: 768px) {}

// todo Tablet
@media (min-width:768px) {
      .winter-title {
            font-size: 58px;
      }

      // ! Header Bars Menu
      .header {
            &__bars-list {
                  padding: 0 111px;
            }
      }

      // ! Modal User
      .modal {
            &__user {
                  margin: 0 70px !important;
            }

            &__login {
                  padding: 30px 35px;
            }
      }

      // ! Carousel Banner
      .banner-slider {

            &__img {
                  height: 630px;
            }

            &__caption {
                  right: 8%;
                  left: 8%;
            }

            &__heading {
                  font-size: 48px;
                  line-height: 80px;
            }

            &__title {
                  font-size: 82px;
                  line-height: 60px;
                  letter-spacing: -.4rem;
            }

            &__desc {
                  font-size: 17px;
                  max-width: 580px;
                  margin: 0 auto;
            }
      }

      // ! Winter Sport
      .winter-sport {

            &__modal-dialog {
                  max-width: 700px;
            }

            &__modal-content {
                  padding-top: 56.25%;

                  iframe {
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        border: none;
                        position: absolute;
                  }
            }
      }

      // ! Top Review
      .top-review {
            padding: 17% 0% 4% 0;

            &__heading {
                  padding-bottom: 36px;
            }

            &__desc {
                  padding: 0px 24px;
            }
      }

      // ! Winter Holiday
      .winter-holiday {

            &__desc {
                  padding: 0px 24px;
            }
      }

      // ! Winter Resort
      .winter-resort {
            &__desc {
                  padding: 0 12px;
            }

            &__item {
                  padding: 0 24px;
            }
      }

      //! Footer
      .footer {
            &__list {
                  padding: 105px 80px 50px;
            }
      }
}

// todo Tablet Pro
@media (min-width: 1024px) {
      .winter-padding {
            padding: 5rem 12rem;
      }

      // ! Header Bars Menu
      .header {
            &__bars-list {
                  padding: 0 153px;
            }
      }

      // ! Winter Resort
      .winter-title {
            font-size: 65px;
      }

      .winter-sport {
            &__modal-dialog {
                  max-width: 960px;
            }
      }

      // ! Top Review
      .top-review {
            &__desc {
                  padding: 0px 62px;
            }
      }
}