header {
      background-color: #fff;
      margin-bottom: 0 !important;
}

.header {
      padding: 0px 10px;
      background-color: #fff;
      justify-content: space-between;

      &__logo {
            a {
                  img {
                        height: 48px;
                  }
            }
      }

      &__menu {
            position: relative;
            z-index: 999;

            &-item {
                  padding-right: 44px;
                  padding-left: 24px;
                  cursor: pointer;

                  &:nth-child(5),
                  &:nth-child(6) {
                        .sub-header__item-list {
                              left: -100%;
                        }
                  }

                  &:last-child {
                        &:hover {
                              .sub-header__list-element {
                                    left: 0;
                                    right: 0;
                                    // position: fixed;
                                    margin-left: 0;
                                    padding-top: 0;
                                    display: flex !important;
                              }
                        }
                  }

                  &:hover>.header__menu-heading {
                        color: $primary_color;
                  }

                  &:hover>.header__menu-heading::after {
                        transform: scaleX(1);
                  }
            }

            &-heading {
                  font-size: 15px;
                  font-weight: 600;
                  line-height: 80px;
                  @include heading;
                  position: relative;
                  transition: all 0.05s ease-in;

                  &:after {
                        @include underline;
                  }

                  &:hover {
                        color: $primary_color;
                  }
            }
      }

      // todo Sub Header
      .sub-header {
            &__list {
                  visibility: hidden;
                  position: absolute;
                  min-width: 260px;
                  margin-left: -36px;
                  padding: 24px 0px;
                  background-color: #fff;
            }

            &__item {
                  display: flex;
                  align-items: center;
                  padding: 0 36px;

                  &:hover {
                        .sub-header__item-list {
                              display: block;
                              animation: fade 0.25s linear;
                        }

                        .sub-header__list {
                              overflow: unset;
                        }
                  }

                  &-list-element {
                        margin-left: -36px;

                        .sub-header__item {
                              padding-right: 0;
                        }
                  }
            }

            &__link {
                  padding: 5px 0;
                  border: 0;
                  position: relative;

                  &:hover {
                        color: $primary_color;
                  }

                  &:after {
                        @include underline(6px);
                  }

                  &:hover:after {
                        transform: scale(1);
                  }
            }

            &__item-list {
                  top: -24px;
                  left: 100%;
                  display: none;
                  overflow: unset;
                  min-width: 260px;
                  max-height: unset;
                  position: absolute;
                  background-color: #fff;
                  padding: 24px 0px;
            }

            &__menu-heading {
                  line-height: 2.4;
                  margin-right: auto;

                  &:after {
                        @include underline(6px);
                  }

                  &:hover:after {
                        transform: scale(1);
                  }
            }
      }
}