.our-team {}

.member-item {
      overflow: hidden;

      &:hover .member-item__info {
            transform: translateY(0%);
            display: block !important;
      }

      &__info {
            transform: translateY(100%);
            transition: all 0.5s ease-in-out;
            padding: 22px 25px 26px;
      }

      &__name {
            @include title (18px);
            padding-bottom: 12px;
      }

      &__desc {
            padding-bottom: 12px;
      }

      &__social-icon {
            padding-right: 24px;

            a {
                  padding: 2px;

                  i {
                        font-size: 16px;
                  }
            }
      }
}

// ? Our team Count
.our-team__count {
      background-color: #3abdc1;
      padding: 36px 24px;

      &-list {
            padding: 24px;
      }

      &-item {
            padding: 24px 0;

            span {
                  font-size: 65px;
                  font-weight: 600;
                  line-height: 50px;
                  letter-spacing: -.05em;
            }

            p {
                  font-size: 18px;
                  font-weight: 600;
                  padding-top: 36px;
            }
      }
}