.top-review {
      height: auto;
      padding-top: 25%;
      padding-bottom: 4%;
      background-size: cover;
      background-attachment: scroll;
      min-height: 200px !important;
      background-position: center top !important;

      &__info {
            margin: 0 57px;
      }

      &__heading {
            padding-bottom: 12px;
      }

      &__desc {
            font-size: 17px;
            line-height: 1.7em;
            @include text-clamp(4);
            margin-bottom: 12px;
      }

      &__slider {
            height: 500px;

            .swiper-wrapper {
                  height: 70%;
            }
      }

      &__item {
            margin: 25px 0;
            border-radius: 8px;
      }

      &__pagination {
            margin-top: 48px;
            bottom: 65px !important;

            .swiper-pagination-bullet {
                  width: 12px;
                  height: 12px;
                  opacity: 1 !important;
                  margin-left: 1rem !important;
                  background-color: #3fd0d480;

                  &:hover {
                        background-color: $primary_color;
                  }
            }

            .swiper-pagination-bullet-active {
                  background-color: $primary_color;
            }
      }
}

// todo Review User Slider
.top-review__user {
      margin: 0 15px;
      padding: 51px 0 33px 0;

      &-avatar {
            img {
                  margin: 0 auto;
            }
      }

      &-city {
            margin-bottom: 8px;
      }

      &-link {
            @include title (22px);
            transition: all 0.2s linear;

            &:hover {
                  color: $primary_color;
            }
      }

      &-rate {
            display: block;
            margin-bottom: 12px;
      }

      &-comment {
            line-height: 1.7em;
            margin-bottom: 12px;
      }

      &-name {
            font-weight: 600;
      }
}