.winter-sport {

      &__title {
            padding-bottom: 4rem;
      }

      &__video {
            cursor: pointer;
            margin-bottom: 4rem;

            img {
                  transition: all 0.25s linear;
            }

            &:hover {
                  .winter-sport__img img {
                        transform: scale(1.05);
                  }
            }

            &-link {
                  pointer-events: none;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
            }
      }

      &__desc {
            line-height: 1.8em;
            padding-bottom: 4rem;
      }

      &__view-link {
            outline: 0;
            font-size: 13px;
            font-weight: 600;
            padding: 18px 66px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            border-radius: 0 !important;

            &:hover {
                  background-color: $primary_color-hover !important;
            }
      }
}