html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #505050;
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

button,
input {
  border: 0;
  background: transparent;
  outline: none;
}