@keyframes scale {
      0% {
            transform: scale(1)
      }

      100% {
            transform: scale(1.1)
      }
}

@keyframes scale-2 {
      from {
            transform: scale(0.95)
      }

      to {
            transform: scale(1)
      }
}

@keyframes fade {
      from {
            opacity: 0
      }

      to {
            opacity: 1
      }
}

@keyframes moveY {
      0% {
            opacity: 0.5;
            transform: translateY(50px)
      }

      100% {
            opacity: 1;
            transform: translateY(0px)
      }
}