@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "./_reset.scss";
@import "./_base.scss";
@import "./_variable.scss";
@import "./_mixin.scss";
@import "./_keyframs.scss";