@use "sass:map";

@mixin border($border) {
      @if $border==border {
            border: 1px solid $border-color;
      }

      @else if $border==top {
            border-top: 1px solid $border-color;
      }

      @else if $border==bottom {
            border-bottom: 1px solid $border-color;
      }

      @else if $border==left {
            border-left: 1px solid $border-color;
      }

      @else if $border==right {
            border-right: 1px solid $border-color;
      }

      @else {
            @error "Unknown direction #{$border}.";
      }
}

@mixin heading {
      color: map.get($text-color, "heading");
}

@mixin title ($size) {
      color: #212121;
      font-weight: 600;
      font-size: $size;
}

@mixin flex ($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
      display: flex;
      align-items: $align;
      justify-content: $justify;
      flex-wrap: $wrap;
      flex-direction: $dir;
}