$primary_color: #3fd0d4;
$text-color: ("text": #efefef,
      "heading": #212121,
      "white": #fff,
      'primary': $primary_color,
);

$border-color: #ebebeb;

.active-color {
      color: $primary_color !important;
}

.font-weight {
      font-weight: 500 !important;
}

.bg-primary {
      background-color: $primary_color !important;
}

.heading {
      color: #212121;
      font-size: 35px;
      font-weight: 600;
}